@charset "UTF-8";

/*======================================================================
/    Author: Frank Zheng
/    Autor url: none
/    Version: 1.0;

**********  Table of Default css  *************

1. Typography *
2. Miscellaneous css

======================================================================*/
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* general styles */
p {
    font-size: 15px;
}

h1 {
    font-size: 34px;
    line-height: 54px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.light {
    font-weight: 400;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-top-80 {
    margin-top: 80px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-80 {
    margin-bottom: 80px !important;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-100 {
    padding-top: 180px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

/* center-content */
.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
    /*-ms-flex-align: center;*/
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}
